/* Base styles */
html {
  box-sizing: border-box;
  transition: 1s;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.app {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  transition: 1s;
}
